body {
  padding: 15px;
  background-color: #404040;
  color: #dcdccc;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

a {
  color: #7F9F7F;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.arcticle .main, .stats {
  display: flex;
}

.arcticle {
  margin: 5px 0px;
}

.arcticle .main {
  padding: 5px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.arcticle .index {
  margin-right: 5px;
}

.arcticle .title {
  max-width: 500px;
  flex-basis: content;
}

.arcticle .stats {
  margin-left: 25px;
}

.arcticle .stats .separator {
  padding: 0px 5px;
}

.arcticles {
  max-width: 800px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}