body {
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  padding: 15px;
}

a {
  font-size: 14px;
  text-decoration: none;
}

body .App .arcticles h1 {
  padding: 5px 0px 5px 10px;
  margin-left: -5px;
  width: 100%;
}

body.night {
  background-color: #404040;
  color: #dcdccc;
}

body.light a {
  color: #000;
}

body.night a {
  color: #7F9F7F;
}

body .arcticles {
  padding: 0px 5px;
}

body.light {
  color: #828282;
}

body.light .arcticles {
  background-color: #f6f6ef;
}

body.light .App .arcticles>.title {
  background-color: #ff6600;
  color: #000;
}

body.night .App .arcticles>.title {
  background-color: #505050; 
}

a:hover {
  text-decoration: underline;
}

.arcticle .main, .stats {
  display: flex;
}

.arcticle {
  margin: 5px 0px;
}

.arcticle .main {
  padding: 5px;
  flex-wrap: nowrap;
  align-items: stretch;
}

.arcticle .index {
  margin-right: 5px;
}

.arcticle .title {
  max-width: 500px;
  flex-basis: content;
}

.arcticle .stats {
  margin-left: 25px;
}

.arcticle .stats .separator {
  padding: 0px 5px;
}

.arcticles {
  max-width: 800px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.switcher {
  width: 50px;
  height: 50px;
  background-color:#dcdccc;
  background-size: contain;
  position: fixed;
  top: 0px;
  right: 0px;
}

.switcher.night {
  background-image: url("/icons/night-mode.png");
}

.switcher.light {
  background-image: url("/icons/day-mode.png");
}

.skeleton {
  height: 43px;
  width: 100%;
}

.skeleton .index {
  min-width: 11px;
  height: 18px;
  background-image: 
    linear-gradient(#dbdbdb 100%, transparent 0);
  animation: loading 1.5s linear infinite;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
}

.skeleton .title {
  background-repeat: no-repeat;
  background-color: #c5c5c5;
  background-image: 
    linear-gradient(#dbdbdb 100%, transparent 0);
  height: 18px;
  min-width: 450px;
  animation: loading 1.5s linear infinite;
  background-position: 0px 0px;
}

.skeleton .stats {
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(#dbdbdb 100%, transparent 0);
    width: 300px;
    height: 18px;
    background-color: #c5c5c5;
    animation: loading 1.5s linear infinite;
    background-position: 0px 0px;
}

@keyframes loading {
    to { background-position: 500px 0px; }
}

.App .arcticles>.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  left: -4px;
  width: calc(100% - 5px);
  padding-right: 10px;
}

.light .highlighted {
  background-color: rgb(233, 255, 39);
}

.night .highlighted {
  background-color: rgb(0, 54, 12);
}

.pager {
  margin-top: 3px;
  text-align: center;
  padding-top: 3px;
  border-top: 1px dashed #000;
}

.pager a {
  font-size: 12px;
}